#hero {
  height: 800px;
  background-image: url("/images/ocean.jpg");
  background-position: center;
  background-size: cover;
  margin: 0;
}
#hero-content {
  width: 900px;
  background-color: rgba(51, 47, 47, 0.8);
  border-radius: 8px;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  padding: 50px 0;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 200px;
}

#hero-content h1 {
  text-transform: uppercase;
  color: white;
  font-family: "Raleway", sans-serif;
  margin: 0;
  font-size: 50px;
}

#hero-content p {
  color: white;
  text-transform: uppercase;
  margin-bottom: 32px;
  font-weight: 300;
  font-size: 24px;
}

#hero-content a {
  font-size: 24px;
  background-color: rgb(255, 251, 0);
  color: #000;
  font-weight: 700;
  border-radius: 8px;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  padding: 12px 24px;
  text-decoration: none;
}

#hero-content a:hover {
  background-color: rgb(255, 238, 0);
}

#highlights {
  background: linear-gradient(0deg, rgb(227, 255, 253), rgb(202, 243, 240));
  padding: 24px;
}

#highlights h2 {
  /* margin: 0;
  padding: 20px; */
  margin: 24px 0;
  text-align: center;
  font-size: 40px;
  color: rgb(59, 65, 64);
  text-transform: uppercase;
}

#destinations {
  display: flex;
  width: 90%;
  margin: auto;
  margin-bottom: 40px;
  justify-content: center;
}

.destination {
  margin: 0 20px;
  text-transform: uppercase;
}

.destination img {
  height: 200px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  object-fit: cover;
}
.destination p {
  text-align: center;
  font-size: 24px;
  color: rgb(124, 123, 123);
  margin: 20px 0;
}
.destination strong {
  color: rgb(0, 160, 117);
}
